extends layout

block content
    main.container(role='main')
        .row
            .col-md-10.offset-md-1
                h3.pb-3.mb-4.font-italic.border-bottom
                    |О программе:
                p.text-left
                        |Шаблон информационной ситемы.
                - var n = 0;
                    while n < 10
                        p.text-left
                                |Возможности:
                        ul
                            li База данных Mongodb;
                            li Аутентификация пользователей Passport js;
                            li CSS Bootstrap;
                            li Меню;
                            li Контент;
                        - n++

    //extends footer