extends layout

block content
    main.container(role='main')
        .row
            .col-md-10.offset-md-1
                - var n = 0;
                    while n < 10
                        h3.pb-3.mb-4.font-italic.border-bottom
                            |Информация
                        p.text-left
                                |Информация Информация Информация Информация Информация Информация Информация Информация <br>
                                |Информация Информация Информация Информация Информация Информация Информация/
                        -n++
    //extends footer