extends layout

block content
	main.container(role='main')
		.row
			.col-md-12.blog-main
				h3.pb-3.mb-4.font-italic.border-bottom
					| Главная страница
				.blog-post
					- var n = 0;
						while n < 10


							h2.blog-post-title Сообщение
							p.blog-post-meta
								|Сообщение Сообщение Сообщение Сообщение Сообщение Сообщение Сообщение
								|Сообщение Сообщение Сообщение Сообщение Сообщение Сообщение Сообщение
								|Сообщение Сообщение Сообщение Сообщение Сообщение Сообщение Сообщение
								|Сообщение Сообщение Сообщение Сообщение Сообщение Сообщение Сообщение

							- n++
			// /.blog-sidebar
		// /.row
	// /.container


	//main.container(role='main')
		//.jumbotron
			//h1 Navbar example
			//p.lead
				//| This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.
			//a.btn.btn-lg.btn-primary(href='../../components/navbar/', role='button') View navbar docs »
	//div.container
		//div.row
			//div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Основная страница
					//div.account-wall
					//	img(class='profile-img', src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120')
					//	form(class='form-signin', action='/login', method='POST')
					//		input(type='text', name='username' class='form-control', placeholder='Пользователь',required, autofocus)
					//		input(type='password', name='password' class='form-control', placeholder='Пароль', required)
					//		button(class='btn btn-lg btn-primary btn-block', type='submit') Войти в систему.
					//		span.clearfix
					//a(href='/login', class='text-center new-account') Войти.
					//a(href='/signup', class='text-center new-account') Создать учетную запись.
					//
					//if message
						//h1.text-center.error-message #{message}