doctype html
html
    head
        title= title

        link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-primary
            a.navbar-brand.abs(href='/')
                img(src="favicon.ico")
                | &nbsp; &nbsp;Меню
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsingNavbar')
                span.navbar-toggler-icon
            #collapsingNavbar.navbar-collapse.collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='/content1', ) Меню 1
                    li.nav-item.active
                        a.nav-link(href='/content1') Меню 2
                    if user
                        li.nav-item.active
                            a.nav-link(href='/content1', data-toggle='collapse') Меню 3
                        li.nav-item.active
                            a.nav-link(href='/content1', data-toggle='collapse') Меню 4
                    li.nav-item.active
                        a.nav-link(href='/about', data-toggle='collapse') О программе
                ul.navbar-nav.ml-auto
                    if !user
                        li.nav-item.active
                            a.nav-link(href='/login', data-target='#myModal', data-toggle='modal') Вход
                        li.nav-item.active
                            a.nav-link(href='/signup', data-target='#myModal', data-toggle='modal') Регистрация
                    else
                        li.nav-item
                            a.nav-link(href='/Home', data-target='#myModal', data-toggle='modal') Пользователь:&nbsp; #{user.username}
                        li.nav-item
                            a.nav-link(href='/signout', data-target='#myModal', data-toggle='modal') Выход



        block content
        footer.blog-footer
            p
                | ШАБЛОН СИСТЕМЫ
                //a(href='https://getbootstrap.com/') Bootstrap
                |  &copy;
                a(href='') Руденко О.В.
                | .
            p
                a(href='#') Вернуться на верх.
